workflows/data-processing.json
{
  "name": "Data Processing Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-data-001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "filePath": "/home/node/data/input/data.csv",
        "options": {
          "delimiter": ",",
          "encoding": "utf8"
        }
      },
      "id": "read-csv-001",
      "name": "Read CSV File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "parse",
        "options": {
          "columns": true,
          "skip_empty_lines": true
        }
      },
      "id": "csv-parse-001",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.csvParser",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Transform and enrich data\nconst items = $input.all();\nconst processed = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Example transformations\n  const transformed = {\n    // Original data\n    ...data,\n    \n    // Add timestamp\n    processedAt: new Date().toISOString(),\n    \n    // Example: Convert strings to proper types\n    amount: parseFloat(data.amount) || 0,\n    quantity: parseInt(data.quantity) || 0,\n    \n    // Example: Normalize text\n    name: (data.name || '').trim().toUpperCase(),\n    \n    // Example: Calculate derived fields\n    total: (parseFloat(data.amount) || 0) * (parseInt(data.quantity) || 0),\n    \n    // Example: Add categories\n    category: categorizeItem(data),\n    \n    // Add processing metadata\n    processingId: `PROC-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`\n  };\n  \n  processed.push({ json: transformed });\n}\n\nfunction categorizeItem(data) {\n  const amount = parseFloat(data.amount) || 0;\n  if (amount < 100) return 'small';\n  if (amount < 1000) return 'medium';\n  return 'large';\n}\n\nreturn processed;"
      },
      "id": "code-transform-001",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.total }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "filter-valid-001",
      "name": "Filter Valid Records",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "mode": "jsonTocsv",
        "options": {
          "includeHeaders": true
        }
      },
      "id": "convert-csv-001",
      "name": "Convert to CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=processed-data-{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.csv",
        "options": {
          "folderPath": "/home/node/data/output"
        }
      },
      "id": "write-file-001",
      "name": "Save Processed Data",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate processing summary\nconst items = $input.all();\nconst totalRecords = items.length;\n\nconst summary = {\n  totalRecords,\n  processedAt: new Date().toISOString(),\n  categories: {},\n  statistics: {\n    totalAmount: 0,\n    totalQuantity: 0,\n    averageAmount: 0\n  }\n};\n\n// Calculate statistics\nfor (const item of items) {\n  const data = item.json;\n  \n  // Category counts\n  summary.categories[data.category] = (summary.categories[data.category] || 0) + 1;\n  \n  // Sum totals\n  summary.statistics.totalAmount += data.amount || 0;\n  summary.statistics.totalQuantity += data.quantity || 0;\n}\n\n// Calculate averages\nif (totalRecords > 0) {\n  summary.statistics.averageAmount = summary.statistics.totalAmount / totalRecords;\n}\n\nreturn [{ json: summary }];"
      },
      "id": "code-summary-001",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "operation": "create",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "fileName": "=processing-summary-{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.json",
        "options": {
          "folderPath": "/home/node/data/reports"
        }
      },
      "id": "save-summary-001",
      "name": "Save Summary",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1450, 500]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV File": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Filter Valid Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Records": {
      "main": [
        [
          {
            "node": "Convert to CSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to CSV": {
      "main": [
        [
          {
            "node": "Save Processed Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Save Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "6",
  "meta": {
    "instanceId": "computer-automation-agent"
  },
  "tags": ["data-processing", "etl", "csv"]
}
